// Place all the styles related to the public/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header-show {
 height: 25vh;
 background-image: image-url('header-show.jpeg');
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 opacity: 0.8;
}