// Place all the styles related to the public/members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header-mypage-item {
 height: 25vh;
 background-image: image-url('cake5.jpg');
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 opacity: 0.8;
}