<div class="item-list">
        <% @items.each do |item| %>
      <tr>
          <%= attachment_image_tag item, :image, size: "50x50", fallback: "no-image-icon.jpg" %>
          <%= item.name %>
          <%= item.introduction %>
      </tr>
    <% end %>
</div>