<div class="container">
  <div class="row">
    <table>
      <tbody>
        <tr>
          <th>購入者</th>
          <td><%= @order.full_name %></td>
        </tr>
        <tr>
          <th>注文日</th>
          <td><%= @order.created_at.strftime('%Y/%m/%d')</td>
        </tr>
        <tr>
          <th>配送先</th>
          <td></td>
        </tr>
        <th>
          <th>支払い方法</th>
          <td></td>
        </th>
        <!---注文ステータス--->
      </tbody>
    </table>


    <div class="row">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>個数</th>
            <th>小計</th>
            <!--<th>製作ステータス</th>-->
          </tr>
        </thead>

        <tbody>
          <!--each文を書く-->
          <tr>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>