<div class="header-about">
  <img src="/assets/nagano.jpeg"/>
  <p>About us</p>
</div>
<h5 class="text-pop-up-top">
   ~ながのCAKE~<br><br>
   全国発送可能なケーキ屋さんです。<br>
   お子様からお年寄りの方まで<br>
   お召し上がりいただけるよう、<br>
   様々なバリエーションをご用意しております。<br>
   また、全国へ発送可能ですので<br>
   「いつ」でも「どこ」でもご注文いただけます。<br>
   ぜひご注文ください。
</h5>
<img class="image-about" src="/assets/cake_shop2.jpeg" alt="nagano_cake">
<img class="image-about" src="/assets/image_cake_top.jpeg" alt="nagano_cake">
<img class="image-about" src="/assets/image_cake2.jpeg" alt="nagano_cake">
<img class="image-about" src="/assets/cake_shop.jpeg" alt="nagano_cake">
