<main>
  <div class="container">
    <div class="row">
      <div class="col-md-2 clearfix">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>ジャンル検索</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                ケーキ
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-9">
        <img class="card-img" src="/assets/image_cake_top.jpeg" alt="">
        <p>ようこそ、ながのCAKEへ！</p>
        <p>このサイトは、ケーキ販売のECサイトになります。</p>
        <p>会員でない方も商品の閲覧はできますが、</p>
        <p>購入には会員登録が必要になります。</p>
      </div>
      <p class="text-left">新着商品</p>
      <div class="clearfix">
        <ul>
          <%= image_tag "/assets/image_cake_remon.jpeg", :size =>'200x150' %>
          <%= image_tag "/assets/image_cake2.jpeg", :size =>'200x150' %>
          <%= image_tag "/assets/image_cake3.jpeg", :size =>'200x150' %>
          <%= image_tag "/assets/image_cake_remon.jpeg", :size =>'200x150' %>
            <li>
              <p>商品名</p>
              <p>¥</p>
              <p>商品名</p>
              <p>¥</p>
              <p>商品名</p>
              <p>¥</p>
              <p>商品名</p>
              <p>¥</p>
            </li>
        </ul>
      </div>
    </div>
  </div>
</main>