<main>
  
   <div class="row mx-auto">
      <div class="col-12 ">
        <div class="top-img">
        <img class="card-img",size: "200x200" src="/assets/head_cake.jpeg" alt=""></div>
        
        <div class="card-img-overlay text-right">
          <div class="top-intro">
            <h1 class="top-title">NAGANO CAKE</h1>
          <p>
            <div class="top-intro2">ようこそ、ながのCAKEへ！<br></p>
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。<br>
            </div>
          </div>
        </div>

        <h3 class="sub-title">New Items</h3>
        
        <ul class="d-flex justify-content-left list-unstyled">
          
          <% @items.first(4).each do |item| %>
          
            <li class="col">
              <span class="img_container">
              <%= link_to (attachment_image_tag item, :image, size: "200x200", fallback: "no_image.jpg"), item_path(item.id)%></span>
              <p class="mt-2"><%= item.name %></p>
              <p class="mt-2">¥ <%= item.price.to_s(:delimited) %></p>
            </li>
          <% end %>
          
        </ul>
        
        <p class="col-3 offset-10"><%= link_to "全ての商品を見る >", items_path %></p>
      </div>
    </div>
  
</main>