<div class="body">
   <div class="header-confirm"></div>
   <div class="cart-step4"></div>
      <div class='container mb-3'>
        <div class='row mt-3'>
          <div class="h2">ご注文ありがとうございました</div>
        </div>
         <br><br>
         <p>発送状況確認は、my pageの注文履歴よりご確認いただけます。
           またのご利用おまちしております。
         </p>
     </div>
</div>