  <div class="footer-confirm"></div>
<div class='container'>
  <div class='d-flex align-items-center justify-content-center' style="height:300px;">
    <h1>ご注文ありがとうございました</h1><br>
    <p>またのご利用おまちしております。</p>
  </div>
</div>
  <div class="header-confirm"></div>
