<div class="container">
   <div class="row mx-auto">
     <div class="col-3">
        <%= render 'admin/genres/index', genres: @genres %>
      </div>
          <div class="item-list">
         <% @items.each do |item| %>
           <tr>
              <%= attachment_image_tag(item, :image, :fill, 50, 50, fallback: "no-image-icon.jpg") %>
              <%= item.name %>
              <%= item.introduction %>
           </tr>
         <% end %>
       </div>
     </div>
</div>